{% extends "template.html" %}
{% block title %}İade Politikası - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <!-- <h1 style="text-align:center">About US</h1> -->
            <!-- <div class="gallary">
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
            </div>
            -->
            <h2>Deneyin beğenemez iseniz iade edin </h2>
            <p>
                Genel İade Koşulları
İadeler mutlak suretle orijinal kutu veya ambalajı ile birlikte yapılmalıdır.
Orijinal kutusu/ambalajı bozulmuş, hasarlı, eksik, tekrar satılabilirlik özelliğini kaybetmiş, başka bir müşteri tarafından satın alınamayacak durumda olan ürünlerin iadesi kabul edilmemektedir.
İade etmek istediğiniz ürün ile birlikte orijinal faturadaki iade ile ilgili alanların yer alan iade formu eksiksiz doldurulmuş şekilde ve imzalandıktan sonra tarafımıza gönderilmelidir.
İade etmek istediğiniz ürünlerin geri alım planlamasını sizin için yapabiliriz. Bizim aracılığımız ile anlaşmalı olduğumuz kargo firmalarınca taşınan iadelerin geri nakliye ücreti tarafımızca karşılanır. Aksi takdirde kargo firması sizden taşıma ücreti talep edecektir.
Mobilya kategorisinde yer alan demonte ürünlerde montaj yapıldıktan sonra iade kabul edilmemektedir.
Hasarlı veya Ayıplı Ürünlerin İadesi
Siparişinizi teslim alırken, kolilerin EKSİKSİZ ve SAĞLAM olduğunu mutlaka kontrol ediniz. Ürünleriniz sevk irsaliyesi ile teslim edilir. E-arşiv uygulaması kapsamında, faturanız sadece elektronik ortamda oluşturulur ve e-posta adresinize otomatik olarak gönderilir. Fatura ibraz edilmeksizin değişim ve iade işlemi yapılamamaktadır.Firma adına kesilen faturalarda ise, satın alan firmanın iade faturası ile değişim veya iade işlemi yapılabilir.

Kargo yetkilisi, sizden kolileri eksiksiz ve sağlam bir şekilde teslim aldığınıza dair imza alacaktır. Koli dışında hasar bulunması durumunda, bu ürünleri teslim almayarak kargo yetkilisine tutanak tutturmalısınız. Bu ürünlerin değişimi 14 iş günü içerisinde gerçekleştirilecektir. Bu durumda, sizden ek bir nakliye veya ürün bedeli talep edilmeyecektir.

Teslim esnasında fark edilmeyerek teslim alınan hasarlı veya ayıplı ürünlerin iadesi için Müşteri Hizmetleri bölümümüz, ürünün hasar veya ayıbını gösteren fotoğraf göndermenizi talep edebilir. Yapılan inceleme sonucunda tüketici kaynaklı olmadığı tespit edilmesi durumunda birebir değişim işlemi yapılacaktır. Değişimi yapılacak olan ürün ile birlikte orijinal faturada yer alan iade alanları eksiksiz doldurulmuş şekilde ve imzalandıktan sonra tarafımıza gönderilmelidir.
            
                Mail <a href="mailto:info@duzceflasketicaret.com">info@duzceflasketicaret.com</a>
            </p>
            <p style="text-align:right"> Flask Eticaret Geliştirme Ekibi</p>
        </div>
    </div>

{% endblock %}